
.uni_button_plifty{
    button{
        padding: 6px;
        // color: white;
        background-color: $pri;
        border: solid $pri;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 4px;
        font-weight: 600;
    }
}
