.player_card{
    width: 300px;
    height: 280px;
    border: 1px solid $border;
    color : white;
    margin-right: 30px;


    .player_pic{
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 70px;
        border: 1px solid $border;
    }

    .name{
        font-size: 1.3rem;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .msg_btn{
        width: 99%;
        padding: 10px 0;
        border: 1px solid $border;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 70px;
        cursor: pointer;
    }
}